.layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.mainContent {
  flex: 1;
  background-color: var(--background);
  min-width: 0;
  overflow-y: auto;
  height: 100vh;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
}